@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	height: 150px;
	color: white !important;
	box-shadow: 0px 0px 5px #373C40;
	text-transform: uppercase;
}

a {
	font-size: 1em;
	cursor: pointer;
	font-weight: bold;
}

#navMobile .nav-item.nav-link:hover {
	text-shadow: 0px 0px 5px black;
	box-shadow: 0px 0px 5px black;
}




.neo-section {
	min-height: 1000px;
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding: 30px;
	position: relative;
}

.neo-section>.neo-container {
	position: relative;
	z-index: 105;
}

.neo-container {
	max-width: 1280px;
	padding: 2% 2%;
	margin: 0 auto;
	margin-top: 30px
}

.texto-centro {
	color: white;
	font-size: 3em;
	font-family: 'Ubuntu';
	margin-top: 50px;
}

.center {
	text-align: center;
}

/*.sombra {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: static;
	background: rgba(0, 0, 0, 0.7);
	z-index: 100;
}*/
.wm {
	width: 50%;
	float: left;
}

.texto-centro {
	color: #272727;
	font-size: 3em;
	font-weight: bold !important;
	font-family: "Ubuntu";
}

.btn {
	font-weight: bold !important;
	width: 280px !important;
	color: #fff !important;
	background-color: #212326 !important;
	border-radius: 10px !important;
	border: 3px solid #212326 !important;
	padding: 15px !important;
	box-shadow: 0px 0px 5px #373C40;
}

.btn:hover {
	font-weight: bold;
	width: 280px !important;
	color: #fff !important;
	background-color: #888C89 !important;
	border-radius: 10px !important;
	border: 3px solid #888C89 !important;
	padding: 15px !important;
}

.botoes {
	padding: 2% 15%;
}

.clear {
	clear: both;
}

.rodape {
	background-color: #373C40;
	color: white;
	text-align: center;
	padding: 15px;
	box-shadow: 0px 0px 5px #373C40;
	font-family: 'Ubuntu' !important;
	font-size: 1.1em;
	font-weight: bold;
}

/* Responsividade */
@media screen and (max-width: 667px) {
	.wm {
		width: 100%;
	}
	nav {
		height: 100%;
	}
	.neo-container {
		margin-top: 50px
	}
}