<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>StockSense</title>
<meta name="author" content="Leonardo Ramos, Vinícius Braz">
</head>

<body>

	<p>Olá Mundo Spring!</p>
	<h1 th:text="${msg}"></h1>
	<button class= btnbtn-primary>Teste</button>
	
	
		
	
	
	
	<!-- javascript e jquery imported -->
	<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>