<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>StockSense</title>
<meta name="author" content="Leonardo Ramos">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	

	<!-- Parte do Meio -->
	<section class="neo-section">
		<div class="sombra"></div>
		<div class="center neo-container">
			<a class="navbar-brand" href="#"> <img src="img/1.png"
				alt="Logo da Empresa" style="max-height: 200px;">
			</a>
			<h1 class="texto-centro">Sistema e Catálogo de Gerenciamento de Estoque</h1>


			<div class="botoes">
				<div class="wm">
					<h5 class="btn custom-button">CADASTRAR PRODUTO</h5>
				</div>
				<div>
					<h5 class="btn justify-content-center custom-button">ENCONTRAR PRODUTO</h5>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</section>
	
	<div th:replace="fragmentos/fragmentos :: rodape"></div>
	
	



	<!-- javascript e jquery imported -->
	<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>	
</body>
</html>